* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

.container1 {
    width: 100%;
    background: #fff;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: #003459;
    padding: 0;
    margin: 0;
    position: fixed !important;
    z-index: 1;
    top: 0;

}

.logo {
    display: flex;
    margin-left: 60px;
}

.logo a {
    color: #fff;
}

.search {
    display: flex;

}

.bg-body-tertiary {
    background-color: #003459 !important;
}


.nav-tools {
    display: flex;
    margin-right: 60px;
    gap: 20px;
}

.nav-tools a {
    color: #fff;
    display: flex;

}

.about {
    display: flex;
    align-items: center;
}

.contact {
    display: flex;
    align-items: center;
}


main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0;
    height: calc(100vh - 10vh);
    margin-top: 10vh;
}


.container2 {
    display: flex;
    width: 100%;
    background: #fff;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
}



.sidebar {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    background-color: #003459;
    position: fixed;
    top: 10vh;
    left: 0;
    padding-top: 20px;
    justify-content: space-between;
    /* border-right: #6f6c6c 2px solid ;
    opacity: 0.5; */

}

.sidebar a {
    text-decoration: none;
    color: #fff;
}

.sidebar li {
    list-style: none;
}

.categories {
    align-self: center;
    color: #fff;
}

.follow {
    color: #fff;
    align-self: center;
    margin-bottom: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-left: 20%;
    width: 80%;
}

.card {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: auto;
    background: #ffffff;
    border-radius: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    box-shadow: #696666 0px 0px 10px;
}

.card-header {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #003459 !important;
    border-radius: 14px 14px 0px 0px;
}

.card-username {
    margin: auto;
}

.card-username a {
    color: #fff;
}

.text {
    margin: auto;
    width: 80%;
}

#text {
    width: 100%;
    height: 50%;
    resize: none;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.postbtn {
    float: right;
}